# Dev

trigger:
  branches:
    include:
    - master
    - development
    - dev-vnext

pr:
  branches:
    include:
    - master
    - development
    - dev-vnext
  paths:
    exclude:
    - '*.md'
    - 'docs/*'
    - 'performance/*'
    - '*.png'
    - 'README.md'

name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

variables:
- group: K2Bridge CI-CD - dev
- name: MAJOR_MINOR_VERSION
  value: "0.3" # ONLY UPDATE THIS
- name: SEMANTIC_VERSION
  value: "$(MAJOR_MINOR_VERSION).$(Build.BuildId)"
- name: KUSTO_DB
  value: "build$(Build.BuildId)"
- name: COLLECT_TELEMETRY
  value: false
- name: TELEMETRY_KEY
  value: "00000000-0000-0000-0000-000000000000"
- name: K2_TAG
  value: 6.8_latest
- name: IMAGE_TAG
  value: "$(SEMANTIC_VERSION)"

pool:
  vmImage: ubuntu-latest

stages:
- template: azure-pipelines.yml
