# Default values for k2bridge.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

# Image pull secret
# privateRegistry: acr-auth

image:
  repository: mcr.microsoft.com/azuredataexplorer/k2bridge
  tag: latest
  pullPolicy: Always

settings:
  bridgeListenerAddress: "http://k2bridge:80/"
  metadataElasticAddress: "http://k2bridgees-master:9200"
  outputBackendQuery: true
  adxClusterUrl: "https://myadxinstance.region.kusto.windows.net"
  adxDefaultDatabaseName: "myadxdatabase"
  aadClientId: "00000000-0000-0000-0000-000000000000"
  aadClientSecret: "secret/pa$$w0rd"
  aadTenantId: "00000000-0000-0000-0000-000000000000"
  instrumentationKey: "00000000-0000-0000-0000-000000000000"
  collectTelemetry: false

service:
  type: ClusterIP
  port: 8080
  targetPort: 80

ingress:
  enabled: false
  annotations: {}

elasticsearch:

  clusterName: k2bridgees
  masterService:  k2bridgees-master

  image: docker.elastic.co/elasticsearch/elasticsearch-oss
  imageTag: 6.8.5

  replicas: 3

  # Shrink default JVM heap.
  esJavaOpts: "-Xmx256m -Xms256m"

  # Allocate smaller chunks of memory per pod.
  resources:
    requests:
      cpu: "200m"
      memory: "1024M"
    limits:
      cpu: "2000m"
      memory: "2048M"

  # Request smaller persistent volumes.
  volumeClaimTemplate:
    storageClassName: managed-premium
    accessModes: [ "ReadWriteOnce" ]
    resources:
      requests:
        storage: 1Gi
